* {
  font-family: "Montserrat";
}

a {
  color: #9ba1a7 !important;
}

body {
  position: relative;
}

.footer {
  position: absolute;
  bottom: -5%;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.text-center {
  text-align: center;
}

a:hover {
  cursor: pointer;
}

.full-size {
  height: 100%;
  width: 100%;
}

.mid-size {
  font-size: 0.9rem;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.padding-3 {
  padding: 3%;
}

.pb-6 {
  padding-bottom: 6%
}

.header-logo {
  max-height: 100px;
}

.post-list-container {
  padding: 3%;
}

.post-content {
  padding: 1%;
}

.border-top {
  border-top: 1px solid #ddd;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}
