<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Frikon</title>
  <meta name="description" content="Un Blog sobre cosas frikis: Comics, Peliculas, Series you name it">
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="Your awesome title" href="/feed.xml">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/icon.ico" sizes="32x32 48x48">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- HEADER -->
  <div class="logo-header">
    <div class="navbar">
      <div class="navbar-header">
        <a href="//goshi91.github.io/">
          <img class="img-responsive no-padding no-margin header-logo" src="{{ BASE_PATH }}/assets/logofinal.png">
        </a>
      </div>
    </div>
  </div>
  <!-- END OF HEADER -->

  <!-- NAV BAR -->
  <nav class="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Peliculas </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Series</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Comics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Literatura</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Videojuegos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Anime</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manga</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Misceláneas</a>
        </li>
      </ul>
  </nav>
  <!-- END OF NAVBAR -->

  <!-- POST PREVIEW -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div>
          {% for post in site.posts limit 4 %}
            <div class="border-top padding-3">
              <div class="col-md-12 pb-6">
                <a href="{{ BASE_PATH }}{{ post.url }}">
                  <img class="full-size" src="{{ BASE_PATH }}{{ post.external_image ? post.external_image : post.featured_image }}">
                </a>
              </div>
              <div class="post-content">
                <h3 class="content-subhead">
                  <a href="{{ BASE_PATH }}{{ post.url }}"> {{ post.title }} </a>
                </h3>
                <p class="mid-size">
                  {{ post.content | strip_html | truncatewords:40 }}
                </p>
                <div class="mid-size">
                  <a> {{ post.date | date_to_string }} </a>
                </div>
                <div>
                  <a> <i class="fa fa-facebook-official" aria-hidden="true"></i> </a>
                  <a> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                </div>
              <!-- <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></div>
              {{ post.content | strip_html | truncatewords:75}}<br>
              <a href="{{ post.url }}">Read more...</a><br><br> -->
              </div>
            </div>
            {% endfor %}
        </div>
      </div>

      <!-- END OF POST PREVIEW -->
      <div class="col-md-4">
        <!-- <h2 class="padding-3"> Autora </h2>
        <div class="about">
          <a href="#">
            <h5>
              <img class="avatar" height="120" width="120" src="{{ BASE_PATH }}/assets/goshi.jpg">
              Goshi
            </h5>
          </a>
        </div>
         <div class="pure-g padding-3">
          <div class="pure-u">

          </div>
          <div class="pure-u-3-4 padding-3">
            <h3> Goshi </h3>
            <p class="mid-size">
              Estudiante de RRPP en UADE, amante de la música y extremadamente friki.
            </p>
         </div>
       </div>x
     </div> -->
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <footer class="footer">
  </footer>
  <!-- END OF FOOTER -->
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=978128892233940";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
